.columns {
  display: flex;
}

.columns>div {
  display: flex;
}

.columns img {
  width: 64px;
  height: 58px;
}

.columns strong {
  font-size: 30px;
  color: #232B76;
  position: relative;
}

.columns p:nth-child(2) {
  font-size: 18px;
  color: #666666;
  margin-top: -20px;
}

.columns strong::before {
  content: "";
  display: block;
  width: 74px;
  height: 74px;
  background-color: #E2F3FC;
  border-radius: 50%;
  position: absolute;
  top: -17px;
  left: -21px;
  z-index: -1;
}

@media (width >=900px) {
  .columns>div {
    gap: 20px;
  }
}

@media (width <=900px) {
  .columns {
    flex-direction: column;
  }
}