footer {
  padding: 2rem;
  height: 123px;
}

footer .footer {
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-direction: row;
  color: #333333;
  font-size: 16px;
}

footer .footer-section-parent {
  display: flex;
  justify-content: space-between;
  width: 1200px
}