:root {
  /* colors */
  --link-color: #232B76;
  --link-hover-color: #136ff6;
  --background-color: white;
  --text-color: black;

  /* fonts */
  --body-font-family: FS Albert;

  /* nav height */
  --nav-height: 100px;
}

@font-face {
  font-family: FS Albert;
  size-adjust: 100.06%;
  ascent-override: 95%;
  src: local('Arial');
}

body {
  margin: 0;
  font-family: var(--body-font-family);
  line-height: 1.6;
  color: var(--text-color);
  background-color: var(--background-color);
  display: none;
}

body.appear {
  display: block;
}

header {
  height: var(--nav-height);
}

/* links */
a:any-link {
  text-decoration: none;
}

a:hover {
  box-shadow: 0px 0px 8px #000;
}

/* buttons */
a.button:any-link,
button {
  font-family: var(--body-font-family);
  box-sizing: border-box;
  padding: 10px 30px;
  text-align: center;
  font-style: normal;
  font-weight: 600;
  cursor: pointer;
  color: var(--background-color);
  background-color: var(--link-color);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

a.button:hover,
a.button:focus,
button:hover,
button:focus {
  background-color: var(--link-hover-color);
  cursor: pointer;
}

a.button.secondary,
button.secondary {
  background-color: white;
  border: 2px solid var(--link-color);
  color: var(--text-color);
}

/* sections */
main .section {
  padding: 64px 16px;
}

@media (width >=600px) {
  main .section {
    padding: 64px 32px;
  }
}

@media (width >=900px) {
  .section>div {
    max-width: 1200px;
    margin: auto;
  }
}

/* home page content */
#speakers {
  color: #042164;
  text-align: center;
  font-size: 40px;
}

.button-container a {
  width: 290px;
  font-size: 15px;
  border-radius: 25px;
}

/* text block */
main .section.text {
  text-align: center;
  color: #232B76;
  background-color: #F7F8FB;
  width: 100vw;
}

main .section.text .default-content-wrapper {
  max-width: 951px;
}

main .default-content-wrapper h1 {
  text-align: center;
  font-size: 40px;
}

main .default-content-wrapper p {
  font-size: 31px;
  font-weight: 300;
}

@media (width <=900px) {
  main .section.text {
    padding: 0;
  }

  main .default-content-wrapper h1 {
    font-size: 30px;
  }

  main .default-content-wrapper p {
    font-size: 20px;
    text-align: center;
    padding: 10px;
  }

  .hero-container .left-div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .hero-container .left-div h1,
  .hero-container .left-div h2 {
    text-align: center;
  }
}